<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<div class="container list-container">
  <div class="row">
    <div class="col-2 border-right">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="inStock"
          #onstock1
          (change)="onStock(onstock1)"
        />
        <label class="form-check-label" for="inlineRadio1">In Stock</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="outOfStock"
          #onstock2
          (change)="outOfStock(onstock2)"
        />
        <label class="form-check-label" for="inlineRadio2">out of stock</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="Reset"
          #Reset
          (change)="resetStock(Reset)"
        />
        <label class="form-check-label" for="inlineRadio3">Reset</label>
      </div>
    </div>
    <div class="col-10 p-2">
      <div class="row">
        <h2 class="card-title">Product List</h2>
        <ng-container *ngFor="let item of productList; let i = index">
          <ng-container *ngIf="item['isActive'] == true">
            <div class="col-4">
              <div class="card" style="width: 18rem">
                <img
                  class="card-img-top"
                  [src]="item.img"
                  alt="prodImg"
                  height="100"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <hr />
                  <p class="card-text">
                    {{ item.description }}
                  </p>
                  <hr />
                  <p class="card-text text-primary">Price: {{ item.price }}</p>
                  <hr />
                  <p-badge [value]="item['inStock']['value']" *ngIf="item['inStock']['name'] === 'inStock'"  severity="success"  severity="success"></p-badge>
                  <p-badge [value]="item['inStock']['value']" *ngIf="item['inStock']['name'] === 'outOfStock'"  severity="danger"  severity="danger"></p-badge>
                  <hr>
                  <button
                    class="btn btn-warning d-inline mr-2"
                    style="padding: 4px 12px; color: white"
                    (click)="updateProductDetails(i)"
                  >
                    Update
                  </button>
                  <button
                    class="btn btn-green d-inline mr-2"
                    style="padding: 7px 12px"
                    (click)="productDetails(i)"
                  >
                    Details
                  </button>
                  <button
                    class="btn btn-white-border d-inline"
                    (click)="deleteProduct(item)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="productList.length == 0" class="item-not-found">
    Product Not Found
  </div> -->
</div>

<p-dialog
  header="Header"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <form [formGroup]="productForm">
    <div class="card p-4">
      <h5>Product</h5>
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstname1">Title</label>
          <input
            id="firstname1"
            type="text"
            formControlName="title"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="description">Description</label>
          <textarea
            id="address"
            type="text"
            rows="4"
            formControlName="description"
            pInputTextarea
          ></textarea>
        </div>
        <div class="p-field">
          <label for="image">Image</label>
          <input
            type="file"
            name="file"
            id="file"
            (change)="onFileChanged($event)"
            pInputText
          />
        </div>
        <div class="p-field">
          <label for="image">Stock</label>
          <p-dropdown [options]="stockOption" formControlName="inStock" optionLabel="value" ></p-dropdown>
        </div>
        <div class="p-field">
          <label for="image">Price</label>
          <input
            type="number"
            name="price"
            formControlName="price"
            min="0"
            id="price"
            pInputText
          />
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayBasic = false"
      (click)="updateProduct()"
      label="Save"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      (click)="displayBasic = false"
      label="Cancle"
    ></p-button>
  </ng-template>
</p-dialog>
