<div class="container">
  <!-- start page title -->
  <div class="task-top-content">
    <div class="task-top-content-left">
      <button class="btn btn-lightgreen body-bold" routerLink="/">
        <img
          src="assets/images/icons/left-arrow-lightgreen.svg"
          class="img-fluid"
        /><span>Back</span>
      </button>
    </div>
  </div>
  <div class="list-container mt-3">
    <div class="row p-3">
      <div class="col-4">
        <img [src]="prodDetails.img" class="img-fluid" alt="image" />
      </div>
      <div class="col-8">
        <h3 class="card-title">{{ prodDetails.title }}</h3>
        <hr />
        <p class="card-text">{{ prodDetails.description }}</p>
        <hr />
        <p class="card-text text-primary">Price: {{ prodDetails.price }}</p>
        <hr />
        <p-badge
          [value]="prodDetails['inStock']['value']"
          *ngIf="prodDetails['inStock']['name'] === 'inStock'"
          severity="success"
          severity="success"
        ></p-badge>
        <p-badge
          [value]="prodDetails['inStock']['value']"
          *ngIf="prodDetails['inStock']['name'] === 'outOfStock'"
          severity="danger"
          severity="danger"
        ></p-badge>
      </div>
    </div>
  </div>
</div>
